@import 'tailwindcss';

@theme {
  /* background colors */

  /* Sidemenu */
  --color-dark: #0d0d0d;

  /* home */
  --color-home-t: #000000;
  --color-home-m: #000000;
  --color-home-b: #161048;

  /* About */
  --color-about-t: #161048;
  --color-about-m: #161048;
  --color-about-b: #1f4e4c;

  /* Text colors */
  --color-txt-light: #ffffff;

  /* Accents */
  --color-primary: #5f53d2;
}
